@use "./abstracts/mq";

.main {
  position: relative;
  color: rgb(58, 62, 88);
  background-color: white;
  background-image: radial-gradient(
    circle at 67% 37%,
    rgba(152, 193, 248, 0.3),
    rgba(255, 255, 255, 0) 20%
  );
  min-height: 100vh;
  font-family: "Titillium Web", sans-serif;
  position: relative;
}

.title {
  font-weight: 700;
  font-size: 40px;
  padding-top: 64px;
  padding-bottom: 64px;
  margin-left: 16px;
  opacity: 0.7;
  @include mq.mq(mobile, from) {
    font-size: 50px;
    margin-left: 32px;
  }
  @include mq.mq(mobileLandscape, from) {
    font-size: 60px;
  }
  @include mq.mq(tablet, from) {
    font-size: 70px;
    padding-top: 60px;
    padding-bottom: 128px;
    margin-left: 64px;
  }
  @include mq.mq(desktop, from) {
    padding-left: 64px;
    font-weight: 700;
    font-size: 120px;
  }
}

.timeline {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include mq.mq(desktop, from) {
    flex-direction: row;
  }
}

.line {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 4px;
  background-color: rgb(58, 62, 88);
  animation: lineAnimationMobile 2s forwards;
  @include mq.mq(desktop, from) {
    top: 50%;
    left: 0;
    transform: translateX(0);
    height: 4px;
    width: 100%;
    animation: lineAnimationDesktop 2s forwards;
  }
}

@keyframes lineAnimationMobile {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes lineAnimationDesktop {
  0% {
    width: 0;
  }
  100% {
    width: 100vw;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @include mq.mq(desktop, from) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.container {
  position: absolute;
  top: 20%;
  left: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  @include mq.mq(desktop, from) {
    top: 50%;
    left: 0;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  &__text {
    margin-top: 20px;
  }
}

.circle {
  position: relative;
  animation: circleAnimation 2s 2s forwards;
  opacity: 0;
  & + & {
    margin-top: 200px;
    @include mq.mq(desktop, from) {
      margin-top: 0;
    }
  }
  &:nth-child(odd) {
    .circle__text__wrapper {
      left: 0;
      margin-left: 24px;
      @include mq.mq(desktop, from) {
        margin-left: 0px;
      }
    }
  }
  &:nth-child(even) {
    .circle__text__wrapper {
      padding-right: 12px;
      left: -150px;
      @include mq.mq(mobile, from) {
        left: -160px;
      }
      @include mq.mq(mobileLandscape, from) {
        left: -200px;
      }
      @include mq.mq(tablet, from) {
        left: -250px;
      }
      @include mq.mq(desktop, from) {
        position: static;
        left: -150px;
      }
      @include mq.mq(wide, from) {
        left: -200px;
      }
    }
  }
  &:nth-child(1) {
    animation-delay: 0s;
  }
  &:nth-child(2) {
    animation-delay: 0.5s;
  }
  &:nth-child(3) {
    animation-delay: 1s;
  }
  &:nth-child(4) {
    animation-delay: 1.5s;
  }
  &:nth-child(5) {
    animation-delay: 2s;
  }

  &::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: rgb(58, 62, 88);
    border-radius: 50%;
    @include mq.mq(desktop, from) {
      top: -7px;
    }
  }
  &__text {
    @include mq.mq(mobile, from) {
      font-size: 15px;
    }
    @include mq.mq(desktop, from) {
      margin-top: 20px;
      font-size: 20px;
    }
    @include mq.mq(wide, from) {
      font-size: 25px;
    }
    &__wrapper {
      position: absolute;
      left: 0;
      width: 150px;
      @include mq.mq(mobile, from) {
        width: 160px;
      }
      @include mq.mq(mobileLandscape, from) {
        width: 200px;
      }
      @include mq.mq(tablet, from) {
        width: 250px;
      }
      @include mq.mq(desktop, from) {
        position: static;
        width: 150px;
      }
      @include mq.mq(wide, from) {
        width: 200px;
      }
    }
  }
}

@keyframes circleAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text {
  @include mq.mq(mobile, from) {
    font-size: 20px;
  }
  @include mq.mq(desktop, from) {
    font-size: 20px;
  }
}
.detail {
  color: #212121;
  opacity: 0.5;
  @include mq.mq(mobile, from) {
    font-size: 12px;
  }
  @include mq.mq(mobileLandscape, from) {
    font-size: 14px;
  }
  @include mq.mq(wide, from) {
    font-size: 16px;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
